

footer {
  background: $bg-1;
  padding: 30px 0;
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 45px 0 55px;
}

.social-media {
  ul {
    display: flex;
    align-items: center;
    gap: 27px;
  }
}

.text-footer {
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-align: center;
  p {
    font-size: 20px;
    line-height: 27.24px;    
  }
}
