#sobre {
  background: $bg-2;
}

.container-sobre {
  padding: 0 122px 0 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .img {
    padding: 11px 0;
    img {
      width: 365px;
    }
  }

  .text {
    width: 600px;
    font-size: 25px;
    line-height: 34.05px;
    color: #000;
  }
}